amqp==1.0.13
amqplib==1.0.2
anyjson==0.3.3
appnope==0.1.0
argh==0.23.1
Babel==1.3
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.1.3
billiard==2.7.3.32
bokeh==0.12.3
brewer2mpl==1.4.1
celery==3.0.15
certifi==14.5.14
cffi==1.9.1
configparser==3.5.0
cryptography==1.4
cycler==0.10.0
decorator==4.0.10
Django==1.8
django-auth-ldap==1.2.8
django-celery==3.0.11
django-debug-toolbar==0.9.4
django-extensions==1.7.4
django-picklefield==0.2.1
django-supervisor==0.3.1
ecdsa==0.11
egnyte==0.5
entrypoints==0.2.2
enum34==1.0.4
Fabric==1.8.3
fpdf==1.7
functools32==3.2.3.post2
futures==3.0.5
gdata==2.0.18
geopy==1.10.0
google-api-python-client==1.4.0
googlefinance==0.7
gspread==0.2.5
gunicorn==0.17.2
httplib2==0.9.1
idna==2.0
inflection==0.3.1
ipaddress==1.0.7
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
kombu==2.5.14
MarkupSafe==0.23
matplotlib==1.3.1
meld3==0.6.10
mistune==0.7.3
mock==1.0.1
more-itertools==2.3
nbconvert==4.2.0
nbformat==4.1.0
ndg-httpsclient==0.4.2
nose==1.3.4
notebook==4.2.3
numpy==1.9.2
oauth2client==1.4.11
ordereddict==1.1
pandas==0.15.2
pandas-datareader==0.2.1
paramiko==1.12.4
pathlib2==2.1.0
pathtools==0.1.2
patsy==0.3.0
Pattern==2.6
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
psutil==2.1.2
ptyprocess==0.5.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.13
pycrypto==2.6.1
PyDrive==1.0.1
Pygments==2.1.3
pyOpenSSL==0.15.1
pyparsing==2.0.2
python-dateutil==2.4.2
python-ldap==2.4.25
python-memcached==1.48
pytz==2015.4
PyYAML==3.10
pyzmq==16.0.0
qtconsole==4.2.1
requests==2.12.0
requests-file==1.4.1
rpy2==2.5.2
rsa==3.1.4
scikit-learn==0.15.2
scipy==0.14.0
simplegeneric==0.8.1
simplejson==3.7.3
singledispatch==3.4.0.3
six==1.9.0
South==0.7.6
SQLAlchemy==1.1.4
statsmodels==0.6.0
supervisor==3.0a12
terminado==0.6
tornado==4.4.2
traitlets==4.3.1
uritemplate==0.6
watchdog==0.6.0
wcwidth==0.1.7
widgetsnbextension==1.2.6
XlsxWriter==0.5.6
xlwt==0.7.5

